@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
	font-optical-sizing: auto;
	font-style: normal;
}

:root {
	--mainColor: #A2E4B8;
	--mainColorBright: #08FF08;
	--secondaryColor: #393D47;
	--secondaryColorBright: #DBD7D2;
	--cardColor: #43423A;
	--textColor: #eee;
}

h3 {
	margin: 2vh 5vw 0vh 5vw;
}

h5 {
	margin-bottom: 1.5vh;
}

.error {
	color: red;
}

.success {
	color: green;
}

/* Home CSS */
.main-page {
	font-family: "Orbitron", sans-serif;
	overflow: auto;
	position: fixed;
	top: 0;
	bottom: 0;
	background-color: var(--secondaryColorBright);
	width: 100%;

	.card-block {
		padding: 0vh 1vh 0vh 1vh;
		justify-content: space-evenly;
		display: flex;
		flex-direction: row;
		overflow-x: scroll;

		.card-section {
			margin: 3vh 1vw 3vh 1vw;
			min-width: 385px;
			max-width: 385px;
			height: 200px;
			background-color: var(--cardColor);

			.card-block {
				padding: 0vh 1vh 0vh 1vh;
				justify-content: space-evenly;
				display: flex;
				flex-direction: row;
			}
		}
	}

	.card-block::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 1vw;
		height: 1vh;
	}

	.card-block::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: rgba(0, 0, 0, .5);
		-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
	}
}

#writeup-sect p,
#description p {
	font-size: large;
	line-height: 2.0;
	margin: 2vh 8vw 2vh 8vw;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}

#image-set {
	margin-bottom: 6vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#data-flow-img {
	margin: 0vh 4vw 2vh 4vw;
	width: 92vw;
	border: 6px solid var(--mainColor);
}

#logged-out-img,
#logged-in-img {
	width: 42.5vw;
	border: 6px solid var(--mainColor);
}

#dataflow-sect p {
	display: flex;
	justify-content: space-around;
	font-weight: bold;
	color: gray;
}

#onboarded-sect ul {
	margin: 2vh 4vw 8vh 4vw;
	border: solid var(--mainColor);

	li {
		font-weight: bold;
	}
}

/* Profile CSS */
#login-sect {
	margin: 4vh 1vw 7vh 2vw;

	p {
		min-width: 20rem;
		font-weight: bold;
		color: gray;
	}

	.login {
		background-color: var(--textColor);
		border: 6px solid var(--mainColor);
	}
}

#logout-sect {
	margin: 4vh 1vw 7vh 2vw;

	.logout {
		background-color: var(--textColor);
		border: 6px solid var(--mainColor);
	}
}

#delete-sect {
	margin: 4vh 1vw 7vh 2vw;

	.delete {
		background-color: var(--textColor);
		border: 6px solid var(--mainColor);
	}
}

/* Register CSS */
#register-sect {
	margin: 4vh 1vw 7vh 2vw;

	p {
		font-weight: bold;
		color: gray;
	}

	.register {
		min-width: 20rem;
		background-color: var(--textColor);
		border: 6px solid var(--mainColor);
	}
}

/* Protected-Entry CSS */
.grouper {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	overflow-x: scroll;

	h4 {
		text-align: center;
	}
}

#entry-form-sect {
	margin: 2rem 1rem 3.5rem 1rem;
	padding: 1rem 1rem 1rem 1rem;
	min-width: 20rem;
	background-color: var(--textColor);
	border: 6px solid var(--mainColor);
}

#entry-table-sect {
	margin: 2rem 1rem 3rem 1rem;
	padding: 1rem 1rem 1rem 1rem;
	width: 70%;
	min-width: 45rem;
	background-color: var(--textColor);
	border: 6px solid var(--mainColor);
}

#ammo-type-chart-sect {
	margin: 2rem 3rem 5rem 1rem;
	padding: 1rem 1rem 1rem 1rem;
	min-width: 994px;
	background-color: var(--textColor);
	border: 6px solid var(--mainColor);
}

#ammo-table {
	background-color: var(--textColor);
	overflow-x: scroll;
}

.dropdown {
	padding: 0rem;
	width: 1.75rem;
	margin-bottom: .5rem;
}